# Copiar este archivo a .env y completar los valores reales
EXCEL_PATH=c:\Users\POWER\Documents\DESARROLLO DE SOFTWARE\SEMESTRE 8\MINERIA DE DATOS\sf\plantilla dataset_diccionario_corregido.xlsx

# Base de datos MySQL del proyecto EcoSwap
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ecoswap
DB_USER=root
DB_PASSWORD=Carlos1009

# Puerto del servidor Flask
FLASK_PORT=5050
FLASK_DEBUG=True
